<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="icon" href="/images/sun.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/3b32f191fa.js"
      crossorigin="anonymous"
    ></script>
    <title>Weather App</title>
  </head>
  <header>
    <a href="/">
      <i class="feather fa-solid fa-feather"></i>
    </a>
    <ul>
      <li>
        <a href="oneDay" class="nav">1 Day Weather</a>
      </li>
      <li>
        <a href="fiveDay" class="nav">5 Day Weather</a>
      </li>
      <li>
        <a href="current" class="nav">Current Forecast</a>
      </li>
    </ul>
  </header>
  <main>
